spack:
  include::
    - {{ (catalog.root ~ '/' ~ values.catalog_scopes.common) | yaml_scalar }}
{% if values.compiler.source == 'external' %}
    - {{ (catalog.root ~ '/' ~ values.catalog_scopes.compiler) | yaml_scalar }}
{% endif %}
{% if values.catalog_scopes.platform %}
    - {{ (catalog.root ~ '/' ~ values.catalog_scopes.platform) | yaml_scalar }}
{% endif %}
    - {{ (workspace.root ~ '/configs/common') | yaml_scalar }}
    - {{ (workspace.root ~ '/configs/providers') | yaml_scalar }}
    - {{ (workspace.root ~ '/configs/environments/' ~ values.compiler.name ~ '/core') | yaml_scalar }}

  definitions:
    - foundation:
{% for spec in data.roster.specs.foundation %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - core:
{% for spec in data.roster.specs.core %}
        - {{ spec | yaml_scalar }}
{% endfor %}

  specs:
{% if values.compiler.source == 'build' %}
    - group: compiler
      specs:
        - {{ (values.compiler.name ~ '@' ~ values.compiler.version) | yaml_scalar }}
{% endif %}
    - group: foundation
{% if values.compiler.source == 'build' %}
      needs: [compiler]
{% endif %}
      specs:
        - matrix:
            - [$foundation]
            - [{{ ('%' ~ values.compiler.toolchain) | yaml_scalar }}]
    - group: core
      needs: [foundation]
      specs:
        - matrix:
            - [$core]
            - [{{ ('%' ~ values.compiler.toolchain) | yaml_scalar }}]

  view:
    foundation:
      root: {{ (values.paths.views_root ~ '/' ~ values.release ~ '/' ~ values.system.name ~ '/' ~ values.stack.name ~ '/' ~ values.compiler.name ~ '/foundation') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: foundation
      projections:
        all: '{name}'
    cse_modules:
      root: {{ (values.paths.views_root ~ '/' ~ values.release ~ '/' ~ values.system.name ~ '/' ~ values.stack.name ~ '/' ~ values.compiler.name ~ '/core-modules') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: core
      projections:
        py-numpy: '{name}/{version}-python{^python.version}'
        all: '{name}/{version}'
