#%Module1.0
proc ModulesHelp { } {
    puts stderr "CSE {{ values.compiler.public_name }} environment for {{ values.system.name }} ({{ values.release }})"
}
module-whatis "CSE {{ values.compiler.public_name }} environment for {{ values.system.name }}"

conflict cse
{% for module in values.compiler.modules %}
module load {{ module }}
{% endfor %}

set foundation {{ values.paths.views_root }}/{{ values.release }}/{{ values.system.name }}/{{ values.stack.name }}/{{ values.compiler.name }}/foundation
prepend-path PATH $foundation/bin
prepend-path LD_LIBRARY_PATH $foundation/lib
prepend-path LD_LIBRARY_PATH $foundation/lib64
prepend-path CPATH $foundation/include
prepend-path PKG_CONFIG_PATH $foundation/lib/pkgconfig
prepend-path PKG_CONFIG_PATH $foundation/lib64/pkgconfig
prepend-path PKG_CONFIG_PATH $foundation/share/pkgconfig
prepend-path MANPATH $foundation/share/man
prepend-path CMAKE_PREFIX_PATH $foundation

set modulebase {{ values.paths.modules_root }}/{{ values.release }}/{{ values.system.name }}/{{ values.stack.name }}/{{ values.compiler.name }}
prepend-path MODULEPATH $modulebase/core
prepend-path MODULEPATH $modulebase/common
prepend-path MODULEPATH $modulebase/lanes
