# Rendered for {{ profile.system.name }} / NVIDIA CUDA externals
packages:
{% for package in gpu_plan["cuda"] %}
  {{ package.name }}:
    buildable: {{ package.buildable | lower }}
    externals:
{% for external in package.externals %}
      - spec: "{{ external.spec }}"
        prefix: {{ external.prefix }}
        modules: {{ external.modules | yaml_flow }}
{% endfor %}
{% endfor %}
