spack:
  include::
    - ../../../configs/surfaces/shared/compiler.yaml
    - {{ ('../../../catalog/' ~ values.catalog_scopes.common) | yaml_scalar }}
    - {{ ('../../../catalog/' ~ values.shared.catalog_scopes.compiler) | yaml_scalar }}
    - ../../../configs/common
    - {{ ('../../../configs/environments/' ~ values.shared.compiler.name ~ '/core') | yaml_scalar }}

  definitions:
    - foundation:
{% for spec in data.roster.specs.foundation %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - core:
{% for spec in data.roster.specs.core %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - core_independent:
{% for spec in data.roster.specs.core_independent %}
        - {{ spec | yaml_scalar }}
{% endfor %}

  specs:
    - group: compiler
      specs:
        - {{ (values.shared.compiler.name ~ '@' ~ values.shared.compiler.version ~ " languages='c,c++,fortran' target=" ~ values.architecture.target ~ ' %' ~ values.shared.compiler.build_with.name ~ '@' ~ values.shared.compiler.build_with.version) | yaml_scalar }}
    - group: foundation
      needs: [compiler]
      specs:
        - matrix:
            - [$foundation]
            - [{{ ('target=' ~ values.architecture.target ~ ' %' ~ values.shared.compiler.name ~ '@' ~ values.shared.compiler.version) | yaml_scalar }}]
    - group: core
      needs: [compiler, foundation]
      specs:
        - matrix:
            - [$core]
            - [{{ ('target=' ~ values.architecture.target ~ ' %' ~ values.shared.compiler.name ~ '@' ~ values.shared.compiler.version) | yaml_scalar }}]
    - group: core-independent
      specs:
        - matrix:
            - [$core_independent]
            - [{{ ('target=' ~ values.architecture.target) | yaml_scalar }}]

  view:
    cse_compiler:
      root: {{ (values.paths.views_root ~ '/' ~ values.shared.compiler.name ~ '/compiler') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: compiler
      projections:
        all: '{name}/{version}'
    foundation:
      root: {{ (values.paths.views_root ~ '/' ~ values.shared.compiler.name ~ '/foundation') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: foundation
      projections:
        all: '{name}'
    cse_modules:
      root: {{ (values.paths.views_root ~ '/' ~ values.shared.compiler.name ~ '/core-modules') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: core
      projections:
        all: '{name}/{version}'
