# Rendered by {{ renderer_identity.name }} {{ renderer_identity.version }}
spack:
  view: {{ view_root }}
  include:
{% for scope in scopes %}
    - {{ scope }}
{% endfor %}
  specs:
{% for spec in specs %}
    - {{ spec }}
{% endfor %}
{% if mpi_requirement %}
  packages:
    mpi:
      buildable: false
      require:
        - "{{ mpi_requirement }}"
{% endif %}
