repos:
  cse_trials: {{ (workspace.root ~ '/package-repos/spack_repo/cse_trials') | yaml_scalar }}
  builtin:
    git: {{ values.package_repo.git | yaml_scalar }}
    tag: {{ values.package_repo.tag | yaml_scalar }}
