{% set surface = values.platform %}
{% set surface_key = 'platform' %}
{% set environment_kind = 'mpi' %}
{% set environment_name = 'mpi-' ~ values.platform.mpi.name %}
{% set payload_specs = data.roster.specs.mpi %}
{% set payload_constraint = 'target=' ~ values.architecture.target ~ ' %' ~ values.platform.compiler.name ~ '@' ~ values.platform.compiler.version ~ ' ^' ~ values.platform.mpi.name ~ '@' ~ values.platform.mpi.version %}
{% include '_partials/payload-spack.yaml.j2' %}
