{% set surface_name = values.shared.compiler.name %}
{% set surface = values.shared %}
{% set environment_kind = 'bootstrap' %}
{% set environment_name = 'bootstrap' %}
{% set module_packages = [values.shared.compiler.name] %}
{% include '_partials/modules.yaml.j2' %}
