packages:
  mpi:
    require:
{% if values.platform.mpi.source == 'build' %}
      - {{ values.platform.mpi.provider_constraint | yaml_scalar }}
{% else %}
      - {{ (values.platform.mpi.name ~ '@' ~ values.platform.mpi.version) | yaml_scalar }}
{% endif %}
