{% set surface_name = values.platform.compiler.name %}
{% set surface = values.platform %}
{% set environment_name = 'common' %}
{% set environment_kind = 'common' %}
{% set module_packages = data.roster.module_packages.common %}
{% include '_partials/modules.yaml.j2' %}
