{% set surface_name = values.shared.compiler.name %}
{% set surface = values.shared %}
{% set environment_name = 'serial' %}
{% set environment_kind = 'serial' %}
{% set module_packages = data.roster.module_packages.serial %}
{% include '_partials/modules.yaml.j2' %}
