toolchains:
  {{ values.compiler.toolchain }}:
    - spec: {{ ('%c=' ~ values.compiler.name ~ '@' ~ values.compiler.version) | yaml_scalar }}
      when: '%c'
    - spec: {{ ('%cxx=' ~ values.compiler.name ~ '@' ~ values.compiler.version) | yaml_scalar }}
      when: '%cxx'
    - spec: {{ ('%fortran=' ~ values.compiler.name ~ '@' ~ values.compiler.version) | yaml_scalar }}
      when: '%fortran'
  {{ values.mpi.toolchain }}:
    - spec: {{ ('%c=' ~ values.compiler.name ~ '@' ~ values.compiler.version) | yaml_scalar }}
      when: '%c'
    - spec: {{ ('%cxx=' ~ values.compiler.name ~ '@' ~ values.compiler.version) | yaml_scalar }}
      when: '%cxx'
    - spec: {{ ('%fortran=' ~ values.compiler.name ~ '@' ~ values.compiler.version) | yaml_scalar }}
      when: '%fortran'
    - spec: {{ ('%mpi=' ~ values.mpi.name ~ '@' ~ values.mpi.version) | yaml_scalar }}
      when: '%mpi'
