# Rendered for {{ profile.system.name }} / Cray MPICH externals (from mpi_providers)
packages:
  mpi:
    buildable: false
    require:
      - cray-mpich
{% for package in mpi_plan["cray-mpich"].packages %}
  {{ package.name }}:
    buildable: {{ package.buildable | lower }}
{% if package.get("variants") %}
    variants: {{ package.variants }}
{% endif %}
    externals:
{% for external in package.externals %}
      - spec: "{{ external.spec }}"
        prefix: {{ external.prefix }}
        modules: {{ external.modules | yaml_flow }}
{% if external.get("extra_attributes") %}
        extra_attributes:
{{ external.extra_attributes | to_yaml | indent(10, true) }}
{% endif %}
{% endfor %}
{% endfor %}
