# Rendered by {{ renderer_identity.name }} {{ renderer_identity.version }}
spack:
  view:
    default:
      root: {{ view_root }}
      link: {{ default_view.link }}
      link_type: symlink
{% if default_view.select %}
      select: {{ default_view.select | yaml_flow }}
{% endif %}
{% if default_view.projections %}
      projections:
{% for entry in default_view.projections %}
        {{ entry.name }}: '{{ entry.projection }}'
{% endfor %}
        all: '{name}/{version}-{hash:7}'
{% endif %}
    cse_modules:
      root: {{ module_view_root }}
      link: roots
      link_type: symlink
      projections:
{% for entry in root_projections %}
        {{ entry.name }}: '{{ entry.projection }}'
{% endfor %}
        all: '{name}/{version}-{hash:7}'
  modules:
    prefix_inspections:
      bin: [PATH]
      lib: [LD_LIBRARY_PATH]
      lib64: [LD_LIBRARY_PATH]
      include: [CPATH]
      lib/pkgconfig: [PKG_CONFIG_PATH]
      lib64/pkgconfig: [PKG_CONFIG_PATH]
      share/pkgconfig: [PKG_CONFIG_PATH]
      share/man: [MANPATH]
      '.': [CMAKE_PREFIX_PATH]
    default:
      enable:
{% for format in module_formats %}
        - {{ format }}
{% endfor %}
      use_view: cse_modules
      # Lane module roots ARE the module tree the lane selector prepends;
      # no arch subdirectory in between (the lane already fixes the arch).
      arch_folder: false
      roots:
{% for format in module_formats %}
        {{ format }}: {{ lane.package_module_root }}
{% endfor %}
{% for format in module_formats %}
      {{ format }}:
        hash_length: 0
        exclude_implicits: true
        include: {{ lane_module_includes | yaml_flow }}
        exclude: ['@:']
        projections:
{% for entry in qualified_projections %}
          {{ entry.name }}: '{{ entry.projection }}'
{% endfor %}
          all: '{name}/{version}'
        all:
          autoload: none
{% endfor %}
{% if lane_shared_module_set %}
    cse_shared:
      enable:
{% for format in module_formats %}
        - {{ format }}
{% endfor %}
      use_view: cse_modules
      arch_folder: false
      roots:
{% for format in module_formats %}
        {{ format }}: {{ lane_shared_module_set.root }}
{% endfor %}
{% for format in module_formats %}
      {{ format }}:
        hash_length: 0
        exclude_implicits: true
        include: {{ lane_shared_module_includes | yaml_flow }}
        exclude: ['@:']
        projections:
          all: '{name}/{version}'
        all:
          autoload: none
{% endfor %}
{% endif %}
  include:
{% for scope in scopes %}
    - {{ scope }}
{% endfor %}
  specs:
{% for spec in specs %}
    - {{ spec }}
{% endfor %}
