packages:
  c:
    prefer:
      - {{ (values.shared.compiler.name ~ '@' ~ values.shared.compiler.version ~ '+binutils') | yaml_scalar }}
  cxx:
    prefer:
      - {{ (values.shared.compiler.name ~ '@' ~ values.shared.compiler.version ~ '+binutils') | yaml_scalar }}
  fortran:
    prefer:
      - {{ (values.shared.compiler.name ~ '@' ~ values.shared.compiler.version ~ '+binutils') | yaml_scalar }}
  {{ values.shared.compiler.name }}:
    buildable: true
