packages:
  mpi:
    require:
{% if values.shared.mpi.source == 'build' %}
      - {{ values.shared.mpi.provider_constraint | yaml_scalar }}
{% else %}
      - {{ (values.shared.mpi.name ~ '@' ~ values.shared.mpi.version) | yaml_scalar }}
{% endif %}
