spack:
  include::
    - {{ ('../../../catalog/' ~ values.catalog_scopes.common) | yaml_scalar }}
    - {{ ('../../../catalog/' ~ values.platform.catalog_scopes.compiler) | yaml_scalar }}
    - ../../../configs/common
    - {{ ('../../../configs/environments/' ~ values.platform.compiler.name ~ '/core') | yaml_scalar }}

  definitions:
    - foundation:
{% for spec in data.roster.specs.foundation %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - core:
{% for spec in data.roster.specs.core %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - core_independent:
{% for spec in data.roster.specs.core_independent %}
        - {{ spec | yaml_scalar }}
{% endfor %}

  specs:
    - group: foundation
      specs:
        - matrix:
            - [$foundation]
            - [{{ ('target=' ~ values.architecture.target ~ ' %' ~ values.platform.compiler.name ~ '@' ~ values.platform.compiler.version) | yaml_scalar }}]
    - group: core
      needs: [foundation]
      specs:
        - matrix:
            - [$core]
            - [{{ ('target=' ~ values.architecture.target ~ ' %' ~ values.platform.compiler.name ~ '@' ~ values.platform.compiler.version) | yaml_scalar }}]
    - group: core-independent
      specs:
        - matrix:
            - [$core_independent]
            - [{{ ('target=' ~ values.architecture.binary_target) | yaml_scalar }}]

  view:
    foundation:
      root: {{ (values.paths.views_root ~ '/' ~ values.platform.compiler.name ~ '/foundation') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: foundation
      projections:
        all: '{name}'
    cse_modules:
      root: {{ (values.paths.views_root ~ '/' ~ values.platform.compiler.name ~ '/core-modules') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: core
      projections:
        all: '{name}/{version}'
