{% set surface = values.platform %}
{% set surface_key = 'platform' %}
{% set environment_kind = 'serial' %}
{% set environment_name = 'serial' %}
{% set payload_specs = data.roster.specs.serial %}
{% include '_partials/payload-spack.yaml.j2' %}
