{% set compiler_spec_name = {
  'intel-oneapi-compilers': 'oneapi',
  'intel-oneapi-compilers-classic': 'intel'
}.get(surface.compiler.name, surface.compiler.name) %}
{% set compiler_constraint = '%' ~ compiler_spec_name ~ '@' ~ surface.compiler.version ~ ('+binutils' if surface.compiler.source == 'build' else '') %}
{% macro with_compiler(spec, compiler) -%}
{%- if '^' in spec -%}
{{ spec.split('^', 1)[0].rstrip() }} {{ compiler }} ^{{ spec.split('^', 1)[1].lstrip() }}
{%- else -%}
{{ spec }} {{ compiler }}
{%- endif -%}
{%- endmacro %}
modules:
{% if environment_kind == 'core' and surface.compiler.source == 'build' %}
  compiler_producer:
    enable: [tcl]
    use_view: cse_compiler
    arch_folder: false
    roots:
      tcl: {{ (values.paths.modules_root ~ '/' ~ surface_name ~ '/compiler') | yaml_scalar }}
    tcl:
      hash_length: 0
      exclude_implicits: true
      exclude: ['@:']
      include:
        - {{ (surface.compiler.name ~ '@' ~ surface.compiler.version ~ '+binutils') | yaml_scalar }}
      projections:
        all: '{name}/{version}'
      all:
        autoload: none
{% endif %}
{% if environment_kind == 'mpi' and surface.mpi.source == 'build' %}
  mpi_producer:
    enable: [tcl]
    use_view: cse_mpi
    arch_folder: false
    roots:
      tcl: {{ (values.paths.modules_root ~ '/' ~ surface_name ~ '/' ~ environment_name ~ '-provider') | yaml_scalar }}
    tcl:
      hash_length: 0
      exclude_implicits: true
      exclude: ['@:']
      include:
        - {{ (surface.mpi.name ~ '@' ~ surface.mpi.version ~ ' ' ~ compiler_constraint) | yaml_scalar }}
      projections:
        all: '{name}/{version}'
      all:
        autoload: none
{% endif %}
{% if environment_kind == 'core' %}
  core_independent:
    enable: [tcl]
    arch_folder: false
    roots:
      tcl: {{ (values.paths.modules_root ~ '/' ~ surface_name ~ '/' ~ environment_name) | yaml_scalar }}
    tcl:
      hash_length: 0
      exclude_implicits: true
      exclude: ['@:']
      include: {{ data.roster.specs.core_independent | yaml_flow }}
      projections:
        all: '{name}/{version}'
      all:
        autoload: none
{% endif %}
  prefix_inspections:
    bin: [PATH]
    lib: [LD_LIBRARY_PATH]
    lib64: [LD_LIBRARY_PATH]
    include: [CPATH]
    lib/pkgconfig: [PKG_CONFIG_PATH]
    lib64/pkgconfig: [PKG_CONFIG_PATH]
    share/pkgconfig: [PKG_CONFIG_PATH]
    share/man: [MANPATH]
    '.': [CMAKE_PREFIX_PATH]
  default:
    enable: [tcl]
    use_view: cse_modules
    arch_folder: false
    roots:
      tcl: {{ (values.paths.modules_root ~ '/' ~ surface_name ~ '/' ~ environment_name) | yaml_scalar }}
    tcl:
      hash_length: 0
      exclude_implicits: true
      exclude: ['@:']
      include:
{% for package in module_packages %}
        - {{ with_compiler(package, compiler_constraint) | trim | yaml_scalar }}
{% endfor %}
      projections:
        netcdf-cxx4: '{name}/{version}-netcdf{^netcdf-c.version}-hdf5{^hdf5.version}'
        py-numpy: '{name}/{version}-python{^python.version}'
        all: '{name}/{version}'
      all:
        autoload: direct
        conflict: ['{name}']
