spack:
  include::
{% if surface_key == 'shared' %}
    - ../../../configs/surfaces/shared/compiler.yaml
{% else %}
    - ../../../configs/surfaces/platform/compiler.yaml
{% endif %}
    - {{ ('../../../catalog/' ~ values.catalog_scopes.common) | yaml_scalar }}
{% if surface_key == 'shared' %}
    - {{ ('../../../catalog/' ~ values.shared.catalog_scopes.compiler) | yaml_scalar }}
{% elif surface.compiler.source == 'external' %}
    - {{ ('../../../catalog/' ~ surface.catalog_scopes.compiler) | yaml_scalar }}
{% if surface_key == 'platform' and surface.catalog_scopes.runtime_compiler %}
    - {{ ('../../../catalog/' ~ surface.catalog_scopes.runtime_compiler) | yaml_scalar }}
{% endif %}
{% endif %}
{% if environment_kind == 'mpi' and surface.mpi.source == 'external' %}
    - {{ ('../../../catalog/' ~ surface.catalog_scopes.mpi) | yaml_scalar }}
{% endif %}
{% if values.catalog_scopes.platform %}
    - {{ ('../../../catalog/' ~ values.catalog_scopes.platform) | yaml_scalar }}
{% endif %}
    - ../../../configs/common
{% if environment_kind == 'mpi' and surface_key == 'shared' %}
    - ../../../configs/surfaces/shared/packages.yaml
{% elif environment_kind == 'mpi' %}
    - ../../../configs/surfaces/platform/packages.yaml
{% endif %}
    - {{ ('../../../configs/environments/' ~ surface.compiler.name ~ '/' ~ environment_name) | yaml_scalar }}

  definitions:
    - foundation:
{% for spec in data.roster.specs.foundation %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - build_tools:
{% for spec in data.roster.specs.build_tools %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - payload:
{% for spec in payload_specs %}
        - {{ spec | yaml_scalar }}
{% endfor %}

  specs:
{% if surface.compiler.source == 'build' %}
    - group: compiler
      specs:
        - {{ (surface.compiler.name ~ '@' ~ surface.compiler.version ~ "+binutils languages='c,c++,fortran' target=" ~ values.architecture.target ~ ' %' ~ surface.compiler.build_with.name ~ '@' ~ surface.compiler.build_with.version) | yaml_scalar }}
{% endif %}
    - group: foundation
{% if surface.compiler.source == 'build' %}
      needs: [compiler]
{% endif %}
      specs:
        - matrix:
            - [$foundation]
            - [{{ ('target=' ~ values.architecture.target ~ ' %' ~ surface.compiler.name ~ '@' ~ surface.compiler.version) | yaml_scalar }}]
    - group: build-tools
{% if surface.compiler.source == 'build' %}
      needs: [compiler, foundation]
{% else %}
      needs: [foundation]
{% endif %}
      specs:
        - matrix:
            - [$build_tools]
            - [{{ ('target=' ~ values.architecture.target ~ ' %' ~ surface.compiler.name ~ '@' ~ surface.compiler.version) | yaml_scalar }}]
{% if environment_kind == 'mpi' and surface.mpi.source == 'build' %}
    - group: mpi
{% if surface.compiler.source == 'build' %}
      needs: [compiler, foundation, build-tools]
{% else %}
      needs: [foundation, build-tools]
{% endif %}
      specs:
        - {{ surface.mpi.spec | yaml_scalar }}
{% endif %}
    - group: payload
{% if environment_kind == 'mpi' and surface.mpi.source == 'build' %}
{% if surface.compiler.source == 'build' %}
      needs: [compiler, foundation, build-tools, mpi]
{% else %}
      needs: [foundation, build-tools, mpi]
{% endif %}
{% elif surface.compiler.source == 'build' %}
      needs: [compiler, foundation, build-tools]
{% else %}
      needs: [foundation, build-tools]
{% endif %}
      specs:
        - matrix:
            - [$payload]

  view:
{% if environment_kind == 'mpi' and surface.mpi.source == 'build' %}
    cse_mpi:
      root: {{ (values.paths.views_root ~ '/' ~ surface.compiler.name ~ '/' ~ environment_name ~ '-provider-modules') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: mpi
      projections:
        all: '{name}/{version}'
{% endif %}
    cse_modules:
      root: {{ (values.paths.views_root ~ '/' ~ surface.compiler.name ~ '/' ~ environment_name ~ '-modules') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: payload
      projections:
        netcdf-cxx4: '{name}/{version}-netcdf{^netcdf-c.version}-hdf5{^hdf5.version}'
        all: '{name}/{version}'
