spack:
  include::
    - {{ (catalog.root ~ '/' ~ values.catalog_scopes.common) | yaml_scalar }}
{% if surface_key == 'shared' %}
    - {{ (workspace.root ~ '/configs/surfaces/shared/compiler.yaml') | yaml_scalar }}
{% elif surface.compiler.source == 'external' %}
    - {{ (catalog.root ~ '/' ~ surface.catalog_scopes.compiler) | yaml_scalar }}
    - {{ (workspace.root ~ '/configs/surfaces/shared/compiler.yaml') | yaml_scalar }}
{% endif %}
{% if environment_kind == 'mpi' and surface.mpi.source == 'external' %}
    - {{ (catalog.root ~ '/' ~ surface.catalog_scopes.mpi) | yaml_scalar }}
{% endif %}
{% if values.catalog_scopes.platform %}
    - {{ (catalog.root ~ '/' ~ values.catalog_scopes.platform) | yaml_scalar }}
{% endif %}
    - {{ (workspace.root ~ '/configs/common') | yaml_scalar }}
    - {{ (workspace.root ~ '/configs/surfaces/shared/toolchains.yaml') | yaml_scalar }}
{% if environment_kind == 'mpi' and surface_key == 'shared' %}
    - {{ (workspace.root ~ '/configs/surfaces/shared/packages.yaml') | yaml_scalar }}
{% elif environment_kind == 'mpi' %}
    - {{ (workspace.root ~ '/configs/surfaces/platform') | yaml_scalar }}
{% elif surface_key == 'platform' %}
    - {{ (workspace.root ~ '/configs/surfaces/platform/toolchains.yaml') | yaml_scalar }}
{% endif %}
    - {{ (workspace.root ~ '/configs/environments/' ~ surface.compiler.name ~ '/' ~ environment_name) | yaml_scalar }}

  definitions:
    - foundation:
{% for spec in data.roster.specs.foundation %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - build_tools:
{% for spec in data.roster.specs.build_tools %}
        - {{ spec | yaml_scalar }}
{% endfor %}
    - payload:
{% for spec in payload_specs %}
        - {{ spec | yaml_scalar }}
{% endfor %}

  specs:
    - group: foundation
      specs:
        - matrix:
            - [$foundation]
            - [{{ ('%' ~ values.shared.compiler.toolchain) | yaml_scalar }}]
    - group: build-tools
      needs: [foundation]
      specs:
        - matrix:
            - [$build_tools]
            - [{{ ('%' ~ values.shared.compiler.toolchain) | yaml_scalar }}]
{% if environment_kind == 'mpi' and surface.mpi.source == 'build' %}
    - group: mpi
      specs:
        - {{ (surface.mpi.name ~ '@' ~ surface.mpi.version ~ ' %' ~ surface.compiler.toolchain) | yaml_scalar }}
{% endif %}
    - group: payload
{% if environment_kind == 'mpi' and surface.mpi.source == 'build' %}
      needs: [foundation, build-tools, mpi]
{% else %}
      needs: [foundation, build-tools]
{% endif %}
      specs:
        - matrix:
            - [$payload]
            - [{{ ('%' ~ payload_toolchain) | yaml_scalar }}]

  view:
{% if environment_kind == 'mpi' and surface.mpi.source == 'build' %}
    cse_mpi:
      root: {{ (values.paths.views_root ~ '/' ~ surface.compiler.name ~ '/' ~ environment_name ~ '-provider-modules') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: mpi
      projections:
        all: '{name}/{version}'
{% endif %}
    cse_modules:
      root: {{ (values.paths.views_root ~ '/' ~ surface.compiler.name ~ '/' ~ environment_name ~ '-modules') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: payload
      projections:
        netcdf-cxx4: '{name}/{version}-netcdf{^netcdf-c.version}-hdf5{^hdf5.version}'
        all: '{name}/{version}'
