# Rendered for {{ profile.system.name }} / AMD ROCm externals
packages:
{% for package in gpu_external_packages(profile, "rocm") %}
  {{ package.name }}:
    buildable: {{ package.buildable | lower }}
    externals:
{% for external in package.externals %}
      - spec: "{{ external.spec }}"
        prefix: {{ external.prefix }}
{% if external.modules %}
        modules:
{% for module in external.modules %}
          - {{ module }}
{% endfor %}
{% else %}
        modules: []
{% endif %}
{% endfor %}
{% endfor %}
