{% set surface_name = values.platform.compiler.name %}
{% set surface = values.platform %}
{% set environment_name = 'mpi-' ~ values.platform.mpi.name %}
{% set environment_kind = 'mpi' %}
{% set module_packages = data.roster.module_packages.mpi %}
{% include '_partials/modules.yaml.j2' %}
