spack:
  include::
    - {{ (catalog.root ~ '/' ~ values.catalog_scopes.common) | yaml_scalar }}
    - {{ (catalog.root ~ '/' ~ values.platform.catalog_scopes.compiler) | yaml_scalar }}
{% if values.catalog_scopes.platform %}
    - {{ (catalog.root ~ '/' ~ values.catalog_scopes.platform) | yaml_scalar }}
{% endif %}
    - {{ (workspace.root ~ '/configs/common') | yaml_scalar }}
    - {{ (workspace.root ~ '/configs/surfaces/platform/toolchains.yaml') | yaml_scalar }}
    - {{ (workspace.root ~ '/configs/environments/' ~ values.shared.compiler.name ~ '/bootstrap') | yaml_scalar }}

  specs:
    - group: compiler
      specs:
        - {{ (values.shared.compiler.name ~ '@' ~ values.shared.compiler.version ~ ' %' ~ values.platform.compiler.toolchain) | yaml_scalar }}

  view:
    cse_compiler:
      root: {{ (values.paths.views_root ~ '/' ~ values.shared.compiler.name ~ '/compiler-modules') | yaml_scalar }}
      link: roots
      link_type: symlink
      group: compiler
      projections:
        all: '{name}/{version}'
